/* Basic CSS for the navigation bar */
*{
    padding: 0;
    margin-right: 50px;
    box-sizing: border-box;
}
nav {
    background-color:rgb(1, 53, 36);
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
}
nav h1{
    font-family: Arial;
    color:rgb(129, 103, 153);
}
body > h1 {
    color:rgb(201, 190, 209);
    font-family: "Bitcount Prop Single Ink", sans-serif;
    text-align: right;
    font-size: 7rem;
}
body > p {
    color: rgb(245, 245, 245);
    text-align: right;
    padding-right: 150px;
    font-size: 1.1rem;
    font-weight:700;
}
nav ul {
    list-style-type: none;
    /* padding: 0; */
}
nav ul li {
    display:inline;
    margin-right: 10px;
}
nav a {
    text-decoration: none;
    color:antiquewhite;
    font-weight: bold;
}
button {
    padding: 6px 13px;
    background-color: rgb(41, 41, 187);
    color:white;
    border:rgb(129, 103, 153);
    border-radius: 8%;
    cursor: pointer;
}
button:hover {
    background-color: rgb(20, 170, 113);
    font: rgb(0, 5, 1);
}
.btn-container {
    padding: 10px;
    text-align: right;
}

body {
    background-image: 
      linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("./imgs/bg-img.png");
    }

/* Style all font awesome icons */
.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
}

/* Add a hover effect if you want */
.fa:hover {
  opacity: 0.7;
}

/* Set a specific color for each brand */

/* Facebook */
.fa-facebook {
  background: #3B5998;
  color: white;
}

/* Twitter */
.fa-twitter {
  background: #55ACEE;
  color: white;
}
/* Instagram */
.fa-instagram {
  background: #125688;
  color: white;
}
/* YouTube */
.fa-youtube {
    background: #bb0000;
    color: white;
}
/* FORM STLYE */
* {
  box-sizing: border-box;
}

.responsive-form {
  max-width: 600px;
  width: min(600px, 100%);
  margin-left:auto;
  margin-right:4px;
  border-radius: 4px;
  border: 2px solid #041daa;;
  background-color:  #f2f2f2;
  padding: 20px;
}

form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

label {
  min-width: 48%;
  margin-bottom: 10px;
}

input[type=text], select {
  min-width: 45%;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 10px;
}

textarea {
  min-width: 45%;
  height: 150px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 10px;
}

input[type=submit] {
  width: 100%;
  background-color: #bba6df;
  color: white;
  padding: 14px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

@media screen and (max-width: 600px) {
  label,
  input[type=text],
  input[type=submit],
  select, textarea {
    flex: 100%;
    min-width: 100%;
  }
}

.hh2{
  color: white;
  text-align: center;
  font-size: 130%;
}

/* Recommendations */

.all_recommendations {
  display: flex;
  flex-direction: row;
  flex-flow: row wrap;
  gap: 20px;
  justify-content: center;
  color: white;
}


.recommendation {
  border: 1px solid gray;
  display: block;
  border-radius: 6px;
  text-align: center;
  margin: 0px;
  padding: 10px;
  width:350px;
  font-size: 20px;
  box-shadow: 0 3px 10px gray;
}

.recommendation img {
  height: 230px;
  width: 320px;
  align-items: center;
}

.recommendation h3 {
  align-items: center;
  font-size: 20px;
  margin-block-start: 5px;
  margin-block-end: 3px;
  font-weight: bold;
  color: white;
} 

.recommendation p {
  align-items: center;
  font-size: 15px;
  color: gray;
  margin-block-start: 2px;
  margin-block-end: 2px;
  color: white;
} 

.flex_center {
  display: flex;
  align-items: center;
  justify-content: center;
}
